<button (click)="generate()">Generate PDF</button>
<div id="html-2-pdfwrapper">
  <!-- html content goes here -->
  <h1>we</h1>
  <p>qqqwertyuioqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p><h1>we</h1>
  <p>qqqwertyuio</p>
</div>

